@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Share Tech", sans-serif;
    font-size: 20px;
    font-style: normal;
}

@layer components {
    .password-circles {
      @apply font-sans text-xl;
    }
  }

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}