@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Share Tech", sans-serif;
    font-size: 20px;
    font-style: normal;
}

@layer components {
    .password-circles {
      @apply font-sans text-sm;
    }
  }

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@keyframes animation-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes borderBrightness {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

.border-animated {
  border: 1px solid var(--tw-color-strockpadlani);
  animation: borderBrightness 2s infinite;
}

.bg-gradient-opacity {
  background: linear-gradient(to right, rgba(11, 68, 100, 0.3), rgba(88, 255, 227, 0.2));
}