@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Share Tech", sans-serif;
    font-size: 20px;
    font-style: normal;
}

@layer components {
    .password-circles {
      @apply font-sans text-sm;
    }
  }

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

/* globals.css or a custom CSS file */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #e0f7fa inset; /* background color */
  color: #004d40; /* text color */
  border: 1px solid #004d40; /* border color */
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}
